*.directory
*.o
.*.sw?
.deps
.libs
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autotools
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
mkinstalldirs
stamp-*
